#sensors{
  width: 100%;
  height: 100%;
  padding: 20px;
}
.sensor{
  width: 150px;
  height: 150px;
  float:left;
  
  background-color: #eee;
  padding: 8px;
  margin-top: 5px;
  margin-right: 20px;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

.sensor dl{
  margin:0;
}
.sensor dt{
  font-weight:bold;
  font-size: 3em;
}
.sensor dd span{
  color: #333;
}
.sensor dd{
  font-size: 1.25em;
}
